 
  
/*定义滑块 内阴影+圆角*/  
/*::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);   
    background: rgba(0,0,0,0.8); 
} 	*/
	
ul{
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0 auto;
}
li{
	text-decoration: none;
}
a{
	text-decoration: none;
}
option{
	color: black;
}





.noradius{
	-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;
}

#newfolder{
	display: none;
}
.myform{
	display: none;
}
