<script src="../bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../bootstrap-3.3.7-dist/js/fileinput.js" type="text/javascript" charset="utf-8"></script>
<script src="../bootstrap-3.3.7-dist/js/bootstrap-select.js" type="text/javascript" charset="utf-8"></script>

<script src="../materialize/js/materialize.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/jquery.metisMenu.js" type="text/javascript" charset="utf-8"></script>

<script src="../morris/raphael-2.1.0.min.js"></script>
<script src="../morris/morris.js"></script>

<script src="/js/easypiechart.js"></script>
<script src="/js/easypiechart-data.js"></script>
<script src="/Lightweight-Chart/jquery.chart.js"></script>
<!--<script src="../js/custom.js" type="text/javascript" charset="utf-8"></script>-->
<script src="../js/custom-scripts.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/url.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/myajax.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/post.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>



