<script src="../bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../bootstrap-3.3.7-dist/js/fileinput.js" type="text/javascript" charset="utf-8"></script>
<script src="../bootstrap-3.3.7-dist/js/bootstrap-select.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/public.js" type="text/javascript" charset="utf-8"></script>