<div class="col-lg-3">
		<div class="mycollapse">
			<div class="mytitle btn btn-block" data-toggle="collapse" href="#content1">
				<a>我的网盘</a>
			</div>
			<div class="mycontent collapse text-center" id="content1">
				<ul>
					<a href="/index.php/index/RSmanager"><li>文件</li></a>
				</ul>
			</div>
			
			<div class="mytitle btn btn-block" data-toggle="collapse" href="#content2">
				<a>部门</a>
			</div>
			<div class="mycontent collapse text-center" id="content2">
				<ul>
					<a href=""><li>学校</li></a>
					<a href="#"><li>学院</li></a>
					<a href="#"><li>班级</li></a>
				</ul>
			</div>
		</div>
		
	</div>