{include file="Index/head"}

</head>
<body>
<div style="position: fixed;border: 0px;width: 100%;height: 100%;background: url(../Image/back.jpg);background-size:100% 100%;"></div>
<div style="position: fixed;border: 0px;width: 100%;height: 100%;background: rgba(0,0,0,0.4);background-size:100% 100%;"></div>

 
<div class="">
    {include file="Index/leftbar"}
    <div class="col-lg-10 rightcontent">
    	{include file="/Index/rightTool"}
    	<div class="title" style="padding-bottom: 5px;background: rgba(0,0,0,0.5);width: 100%;">
    		<ul class="noradius" style="background: rgba(0,0,0,0);padding: 10px;padding-left: 50px;">
			  <li><a href="/index.php/index/menu/index"><h3>个人中心 / <small>Personal</small></h4> </a></li>			  
			  
			  
    		</ul>
			<div class="btn-group" role="group" style="padding-left: 50px;">
					<button class="btn btn-primary btn-sm" id="transform"><a href="/index.php/index/user/edit"><span class="glyphicon glyphicon-new-window"></span> 完善信息</a></button>
			</div>
			
			
    	</div>
    	
    	<div class="col-lg-6">
			<div class="panel panel-primary" id="user-info-scan" style="position: absolute;">
				<div class="panel-heading">我的个人信息</div>
				<div class="panel-body">
					<form method="post">
						<div class="input-group">
							<span class="input-group-addon">账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</span>
							<input type="text" class="form-control" placeholder="Account" name="account" disabled="disabled" value="{$user['account']}">
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">真实姓名</span>
							<input type="text" class="form-control" placeholder="realname" name="realname" disabled="disabled" value="{$user['realname']}" >
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</span>
							<input type="date" class="form-control" placeholder="Realname" name="birthday" disabled="disabled" value="{$user['birthday']}">
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</span>
							<input type="text" class="form-control" placeholder="email" name="email" disabled="disabled" value="{$user['email']}">
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</span>
							<input type="text" class="form-control" placeholder="telephone" name="telephone" disabled="disabled" value="{$user['telephone']}">
						</div>
	
						<br>
	
					</form>
	
				</div>
			</div>
		</div>

        
    </div>
</div>


</body>

{include file="Index/footer"}

<script type="text/javascript">
	var flag = false;
	function mytab(){
		var l1 ="<span class=\"glyphicon glyphicon-edit\"></span>  完善信息 ";
		var l2 ="<span class=\"glyphicon glyphicon-refresh\"></span>  保存信息 ";
		$('#user-info-edit').fadeToggle(500);
		$('#user-info-scan').fadeToggle(500);

		if(flag==false){
			$("#transform").html(l2);
			flag=true;
		}
		else{
			$("#transform").html(l1);
			flag=false;
		}
		
	}
</script>

</html>